<div class="content principal">
    <br/>
    <h2>
        {{ tituloPagina }} 
    </h2>
    <br/>
    <div class="box-body">
        <div class="card text-white bg-warning mb-3" style="max-width: 500px;">
            <div class="card-header">Requerimento incompleto</div>
            <div class="card-body">
                <h5 class="card-title">Para finalizar seu requerimento, por favor finalizar o preenchimento do(s) seguinte(s) formulário(s):</h5>
                <p class="card-text"><a style="color:#000; text-decoration: underline;" routerLink="/requerimento/dados-requerente">Dados do Requerente / Sede</a></p>
                <p class="card-text"><a style="color:#000; text-decoration: underline;" routerLink="/requerimento/endereco-sede">Endereço da Sede</a></p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 500px;">
            <div class="card-header">Requerimento finalizado</div>
            <div class="card-body">
              <h5 class="card-title">Requerimento finalizado com sucesso</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
