<nav class="main-header navbar navbar-expand navbar-dark navbar-lightblue">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li> 
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>-->
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <!-- <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
            </a> -->
            <span >          
            <!-- <span *ngIf="isDesenv"><label class="teste">Ambiente de Teste</label></span> -->
            <!-- <img src="./assets/img/logo_inea.png" style="width: 130px;" />
            <img src="./assets/img/logoSEAS_branco.png" style="width: 130px;" />
            <img src="./assets/img/logo_governo_estado.png" style="width: 130px;" />              
            <img src="./assets/img/LOGO_GETEC_FINAL.png" style="width:100px;" /> -->
        </span>
        </li>
        <li>
            <a class="nav-link usuario" >
                <i class="fa fa-user"></i>
                {{usuario}}
            </a>
        </li>
        <li>
            <a class="nav-link logout"  data-slide="true" >
            <i class="fa fa-power-off"></i>&nbsp;Sair
            </a>        
        </li>
    </ul>
  </nav>